/**
 * Icons
 */
.icon {
  color: inherit;
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
  height: 1em;
  line-height: 1;
  width: 1em;
}

.next-section {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding-bottom: 2rem;
	text-align: center;
	color: $color-text;

	&.secondary {
		color: $color-btn;
	}

	.icon {
		width: 2em;
		height: 2em;
	}
}
